body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tagMain{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
}

::-webkit-scrollbar-thumb {
    
    background: rgb(6, 6, 197);
    
} 

.tagDivContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 120%;
    border-bottom: 2px solid black;
    padding: 10px;
    gap: 20px;
}
.tagDivLogo{
    display: flex;
    gap: 15px;
    align-items: center;
    width: 500px;
    justify-content: center;
}

.tagDivLogoCor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(140, 12, 190);
    
}
.divSelectDepart{
    text-align: center;
    height: 30px;
    border-radius: 16px;
}
.tagDivButtons{
   
    display: flex;
    align-items: center;
    width: 360px;
    justify-content: center;
}

.tagDivButtons > button{
    width: 141px;
    height: 44px;
    color: blue;
    border: 1px solid blue;
}


.divHeaderDepart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(216, 216, 216);
    height: 70px;
    margin-top: 30px;
    padding: 10px;
}

.divHeaderDepart > button{
    background-color: blue;
    color: white;
    padding: 5px;
}

.tagUlDepartos{
    display: flex;
    gap: 30px;
    width: 98%;
    height: 350px;
    list-style: none;
    border: 1px solid rgb(216, 216, 216);
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 20px;

}

.tagLiDepartos{
    width: 220px;
    height: 170px;
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
}

.tagDB{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.tagDB > button{

    width: 66px;
    text-align: center;
    background-color: blue;
    padding: 2px;
    color: white;
}

.tagUlFuncionarios{
    display: flex;
    gap: 30px;
    width: 98%;
    height: 500px;
    list-style: none;
    border: 1px solid rgb(216, 216, 216);
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 20px;

}

.tagLiFuncionarios{
    width: 220px;
    height: 170px;
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
}

.tagFB{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.tagH1Funcionarios{
    display: flex;
    align-items: center;
    justify-content: center;

}

.tagFB > button{
    text-align: center;
    padding: 3px;
    width: 90px;
    background-color: blue;
    color: white;
}














.modal-background{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal-container{
    border-radius: 10px;
    /* width: 50%; */
    /* height: 50%; */
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    position: fixed;
    top: 270px;
    background-color: white;
    border: 1px solid red;
}

.modal-clone{
    padding: 5px 0 5px 0;
    border-radius: 10px;
    
}    

   

.inputTitulo{
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.inputBody{
    width: 90%;
    height: 150px;
    padding: 10px;
    margin-bottom: 30px;
}

p{
    color: black;
    font-weight: 400;
    font-size: medium;
} 

.modal-close{
    width: 30px;
    height: 30px;
}

.tituloModal{
    margin-bottom: 30px;
}




.divListarFuncionariosPorDepart{
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 30px;
    list-style: none;
    background-color: #ebebeb;
}

.tagLiFuncionariosDoDepart{

    
    background-color: white;
    width: 160px;
    padding: 10px;
}

.tagLiFuncionariosDoDepart > button{
    color: red;
    border: 1px solid red;
    width: 100px;
    
    padding: 5px;
}


.divModalCriarD{
    display: flex;
    flex-direction: column;
}

input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}

.inputcompany_uuid{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.divModalCriarD > button {

    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;

}

.DivConteudoModalDeletar{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
}

.bottonDeletarDepart{
    background-color: rgb(1, 99, 1);
    color: white;
    text-align: center;
    padding: 5px;
}


.DivConteudoModalEditar{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
}

.bottonDeletarFuncionario{
    background-color: rgb(1, 99, 1);
    color: white;
    text-align: center;
    padding: 5px;
}

.DivConteudoModalEditar{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    gap: 10px;
}

.DivConteudoModalEditar > select{
    height: 30px;
}

.bottonDeletarEditar{
    height: 30px;
    background-color: blue;
    color: white;
    padding: 5px;
    text-align: center;
}

.DivConteudoModalEditar > h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.divVisualizarDepartShow{
    width: 600px;

}

.divVisualizarDepartShow > h1{
    font-size: 28px;
    margin-bottom: 5px;
}

.divNomesxSelectShow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divSelectButtonShow{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.divSelectButtonShow > select{
    width: 250px;
    height: 30px;
}

.divSelectButtonShow > button{
    width: 120px;
    height: 30px;
    background-color: green;
    color: white;
    text-align: center;
}